#about,
#contact,
#selected-works {
    font: 11pt Arial, sans-serif;
    text-transform: uppercase;
    padding: 3ch;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}