body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

#loadingScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

#loadingScreen.hiddenLoader {
    opacity: 0;
}

#menuCatcher {
    position: absolute;
    width: 100%;
    height: 100%;
}

#disclaimer {
    position: absolute;
    text-align: justify;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: min(80%, 375px);
}

#consentBox {
    display: flex;
    justify-content: space-evenly;
}

#loadingAmt {
    position: absolute;
    bottom: 20px;
    left: 20px;
    translate: (-50%, -50%);
}

input[type="checkbox"] {
    vertical-align: middle;
}

.menuText {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 9pt;
}

#headerBox {
    font-size: 9pt;
}

.fastHidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s ease;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.fade {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.fade[hidden] {
    opacity: 0;
    visibility: hidden;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    /* fixed border color */
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    /* base background */
}

input[type="checkbox"]:checked {
    background-color: #000;
    /* black background when checked */
}

input[type="checkbox"]:checked::after {
    content: "\2713";
    /* white check */
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Base styles for all divs */
.name,
.links,
.copyright {
    font: 9pt Arial, sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Base styles for all divs */
.name,
.links {
    text-transform: uppercase;
}

.menuItem:hover {
    font-weight: 900;
}

.menuItem.focused {
    font-weight: 900;
}

.aboutContent,
.contactContent,
.pressContent {
    font: 9pt Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.aboutContent {
    text-align: justify;
}

.links p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
}

.aboutContent a:hover,
.contactContent a:hover,
.pressContent a:hover {
    font-weight: 900;
}


#subscribeHolder {
    width: 100%;
    max-width: 256px;
}

#subscribeInput {
    width: 100%;
}

#subscribeButton {
    justify-self: right;
    margin-top: 8px;
    margin-right: -8px;
}

#selectedWorks {
    position: absolute;
    overflow-y: scroll;
    box-sizing: content-box;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    min-height: 105px;
}

#worksCol1 {
    position: absolute;
    width: 50%;
    height: auto;
}

#worksCol2 {
    position: absolute;
    width: 50%;
    left: 50%;
    height: auto;
}

.workItem {
    padding: 8px;
}

.workItem img {
    height: auto;
    width: 100%;
}

.dataBlock {
    margin-top: 3px;
    font: 9pt Arial, sans-serif;
    text-transform: uppercase;
}

#headerBox {
    position: relative;
    width: 100%;
    min-height: 105px;
    z-index: 1000;
}

#headerBox,
.name,
.copyright {
    padding-left: 3ch;
    padding-top: 3ch;
}

.copyright {
    left: 0%;
    margin-top: -35px;
    position: absolute;
    top: 100%;
}

.shop {
    position: absolute;
    top: 100%;
    margin-top: -35px;
}

.name {
    position: absolute;
    left: 0%;
    top: 0%;
}

#links {
    position: absolute;
    height: 100%;
}

.aboutContent,
.contactContent,
.pressContent {
    margin-right: 20px;
}

/* For screens wider than 1024px */
@media (min-width: 1024px) {

    .aboutContent,
    .pressContent {
        position: absolute;
        left: 50%;
        top: 25%;
        width: 49%;
    }

    .contactContent {
        position: absolute;
        left: 50%;
        top: 25%;
        width: 25%;
    }

    #headerBox {
        height: 25%;
    }


    #links {
        left: 75%;
    }
}

/* For screens under 1024px */
@media (max-width: 1023px) {
    #links {
        left: 50%;
    }

    .aboutContent,
    .pressContent {
        font: 9pt Arial, sans-serif;
        position: absolute;
        left: 20px;
        top: 25%;
    }

    .contactContent {
        position: absolute;
        font: 9pt Arial, sans-serif;
        left: 20px;
        top: 25%;
        width: 100%;
    }

    #worksCol1 {
        width: 100%;
    }

    #headerBox {
        height: 12.5%;
        width: 100%;
    }
}